@import "../../../../assets/theme/_var.scss";

.work {
    padding: 15.2rem 0 22.2rem;

    .heading {
        position: relative;
        z-index: 1;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 80%;
            transform: translate(-50%, -50%);
            z-index: -1;
            left: 10%;
            width: 27.2rem;
            border-radius: 50%;
            height: 27.2rem;
            background-color: $blueclr;
            filter: blur(93.99533081054688px);

            @media (max-width: 1199px) {
                content: unset;
            }
        }

        &::before {
            background-color: $lightblue2;
            opacity: 0.6;
            top: 30%;
            left: 40%;
        }

        h2 {
            width: 32rem;
            margin-bottom: 2.5rem;
        }

        p {
            max-width: 62rem;

            a {
                color: $lightblue2;
            }
        }

        @media (max-width: 991px) {
            text-align: center;

            h2 {
                margin: 0 auto 2rem;
            }

            p {
                margin-inline: auto;
            }
        }
    }

    .work_content {
        display: flex;
        flex-wrap: wrap;
        max-width: 46.8rem;
        margin: -1rem -0.7rem -1rem auto;

        @media (max-width: 991px) {
            margin: 3rem auto 0;
            max-width: 100%;
        }

        .work_box {
            padding: 1rem 0.7rem;
            flex: 0 0 50%;

            @media (max-width: 499px) {
                flex: 0 0 100%;
            }

            .work_box_in {
                height: 24.7rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: $gradient7 padding-box, $gradient border-box;
                border: 1px solid transparent;
                border-radius: 2rem;
                text-align: center;
                padding-inline: 0.6rem;

                p {
                    font-family: $aileronfont;
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-top: 1.1rem;
                    line-height: 2rem;
                }
            }

            @media (min-width: 992px) {
                &:nth-child(even) {
                    .work_box_in {
                        transform: translateY(-2.5rem);
                    }
                }
            }
        }

    }
}